{% extends 'layouts/blank.html' %}
{% block content %}
<div class="flex flex-col items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full h-full">
        <h1 id="meses" class="text-center text-4xl font-bold mb-6">{{ nome_mes }} {{ yy }}</h1>
        <div class="overflow-x-auto w-full h-full">
            <table class="w-full h-full table-fixed">
                <thead>
                    <tr class="bg-gray-200">
                        <th class="w-1/7 py-2">Domingo</th>
                        <th class="w-1/7 py-2">Segunda</th>
                        <th class="w-1/7 py-2">Terça</th>
                        <th class="w-1/7 py-2">Quarta</th>
                        <th class="w-1/7 py-2">Quinta</th>
                        <th class="w-1/7 py-2">Sexta</th>
                        <th class="w-1/7 py-2">Sábado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for semana in calendario %}
                    <tr class="h-1/6">
                        {% for dia in semana %}
                        {% if dia == 0 %}
                        <td class="border h-24 w-24"></td>
                        {% else %}
                        <td class="border text-center align-middle h-24 w-24">{{ dia }}</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}