{% extends 'layouts/blank.html' %}
{% load static %}

{% block content %}

<main class="flex flex-col items-center justify-center min-h-screen p-4">
    <span id="back" class="absolute top-8 left-8">
        <a href="{% url 'list-all' %}" class="text-[#17285E]">
            <svg class="text-white" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="10"/>
                <path d="M16 12H8"/>
                <path d="m12 8-4 4 4 4"/>
            </svg>
        </a>
    </span>
    
    <div id="card" class="flex flex-col items-center p-6 bg-white rounded-2xl border-2 border-gray-300 shadow-lg max-w-2xl w-full">
        <div id="title" class="mb-4">
            <h1 class="text-black text-2xl font-bold">{{planta.nome}}</h1>
        </div>
        <div class="planta-detail">
            {% if planta.imagem %}
                <img src="{{ planta.imagem.url }}" alt="{{ planta.nome }}" class="w-64 h-64 object-cover rounded-2xl">
            {% else %}
                <img src="{% static 'img/default-plant.png' %}" alt="Imagem padrão" class="w-64 h-64 object-cover rounded-2xl">
            {% endif %}
        </div>
    
        <div id="stats" class="flex flex-col items-center p-4 w-full max-w-md">
            <div id="text" class="flex flex-col items-center gap-2">
                <div id="hp" class="text-lg justify-center flex gap-3 mb-2">
                    <span class="stats-title font-bold">Tempo de Manejo:</span>
                    <span class="stats-data text-black">{{planta.ciclo_de_podagem}} dias</span>
                </div>
                <div id="medidas" class="w-full">
                    <div id="altura" class="text-2xl font-bold justify-center flex gap-5 mb-2">
                        <span class="  stats-title">Tempo de Colheita:</span>
                        <span class="stats-data text-black">{{planta.ciclo_de_colheita}} dias</span>
                    </div>
                    <div id="peso" class="text-2xl font-bold justify-center flex gap-5 mb-2">
                        <span class=" stats-title">Necessidade de Nutriente:</span>
                        <span class="stats-data text-black">{{planta.necessidade_de_nutrientes}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
