{% extends 'layouts/blank.html' %}
{% block content %}

<h1 class="text-center py-10 text-white">Adicionar Planta</h1>



<form action="{% url 'add' %}" method="POST" class="flex gap-2 px-8 py--24" autocomplete="off">
    {% csrf_token %}

    <div class="max-w-3xl mx-auto p--20 font-bold">


        <h2 class="text-white" for="nome">Nome:</h2>
        <div class="">
            <input type="text" name="nome" id="nome" placeholder="Digite o nome da planta" required>
            <br>
            <br>
            <h2 class="text-white" for="nome">Dias para o Manejo da planta:</h2>


            <input type="number" id="ciclo_de_podagem" name="ciclo_de_podagem" placeholder="Digite o numero aqui"
                step="1" required>
            <br>
            <br>
            <h2 class="text-white" for="nome">Dias para a colheita:</h2>

            <input type="number" id="ciclo_de_colheita" name="ciclo_de_colheita" placeholder="Digite o numero aqui"
                step="1" required>
            <br>
            <br>

            <div class="inputdiv text-black">
                <h2 class="text-white" for="imagem">URL da Imagem:</h2>
                <input type="url" name="imagem" id="imagem" placeholder="Digite a URL da imagem" required>
            </div>
            <br>
            <br>

            <h2 class="text-white" for="nome">Necessidade de Nutrientes:</h2>
            <select name="necessidade_de_nutrientes" id="necessidade_de_nutrientes" required>
                <option value="">Selecione a necessidade de Nutrientes da Planta</option>
                <option value="Baixa">Baixa</option>
                <option value="Media">Média</option>
                <option value="Alta">Alta</option>
            </select>

        </div>
        <br>
        <br>
        <div class=" text-center">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </div>

</form>






{% endblock %}